<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUFeedURL</key>
	<string>https://openpaste.github.io/openpaste/appcast.xml</string>
	<!-- Sparkle's installer XPC service is required for sandboxed app updates. -->
	<key>SUEnableInstallerLauncherService</key>
	<true/>
	<key>SUPublicEDKey</key>
	<string>k+n1mXiTIIqt/Fytb92Pr1AQP1Ap4ByEdwLHLYOUJWA=</string>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>dev.tuanle.OpenPaste.reorder-item</string>
			<key>UTTypeDescription</key>
			<string>OpenPaste Bottom Shelf Reorder Item</string>
		</dict>
	</array>
</dict>
</plist>
