<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUFeedURL</key>
	<string>https://openpaste.github.io/openpaste/appcast.xml</string>
	<!-- Sparkle's installer XPC service is required for sandboxed app updates. -->
	<key>SUEnableInstallerLauncherService</key>
	<true/>
	<key>SUPublicEDKey</key>
	<string>k+n1mXiTIIqt/Fytb92Pr1AQP1Ap4ByEdwLHLYOUJWA=</string>
</dict>
</plist>
